@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
$gap: 10px;
$board-bg-color: #0079bf;
$px36: 36px;
body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
}
.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;


 

}